@charset "utf-8";
*{
    margin: 0;
    padding: 0;
}

html {height: 100%;}

body {
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-image: url(/img/background.png);
    background-size: 100%;
    color: aliceblue;
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
}

.wrapper {
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    font-size: 3em;
    margin: 4px 0;
}

button {
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    padding:7px 10px;
    margin: 8px 0;
    width: 120%;
    font-size: 1.2em;
    box-sizing: border-box;
    background-color: rgb(127, 255, 176);
}

input {
    width:120%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    padding:7px 10px;
    margin: 4px 0;
    font-size: 1.2em;
    box-sizing: border-box;
}

.msg {
    color: red;
}